*{
    box-sizing: border-box;
    position:relative;
}
body{
    /* border: 1px solid red; */
    height: 2250px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.wrapper{}

/* header */
.wrapper>header{
    /* border: 1px solid white; */
    height : 100px;
}
.wrapper>header>.top-header{}
.wrapper>header>nav{}

/* main */
.wrapper>main{}
.wrapper>main>section{}

/* footer */
.wrapper>footer{}