
.wrapper>main>.box>.contact .contact-line{
    height: auto;
    padding: 0;

}
.mo{
    display: none;
}

.wrapper>main>.box>.contact .contact-line>div{
    justify-content: center;
    align-items: center;
}
.wrapper>main>.box>.contact .contact-line>div>.email{
    margin: 0;
    cursor: pointer;
    border-radius: 35px;
    height: 10vh;
    width: 100%;
    flex-direction: column;
}


.wrapper>main>.box>.contact .contact-line>div>.email>div{
    display: none;

}

.wrapper>main>.box>.contact .contact-line>div>.call{
    height: 10vh;
    width: 100%;
}

.report{
}