<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <!-- 회원가입페이지   -->
        <!-- 회원정보를 통해 인증 인가 작업을 진행하기 때문에 사용자로 부터 회원 가입을 진행한 뒤 데이터베이스에 회원 정보를 저장 -->
        <form action="/joinProc" method="post" name="joinForm">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Join">
        </form>

    </body>
</html>