<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
main page
<hr>
{{id}}      <!--로그인 전 : anonymousUser / 로그인 후 : 해당 id-->
{{role}}    <!--로그인 전 : ROLE_ANONYMOUS / 로그인 후 : 해당 role-->
<hr>
<a href="/join">join</a>
<a href="/login">login</a>
</body>
</html>