/* bg */
.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/594f8025-139a-4a35-b58d-4ecf8fdc507c/80579ec2-edf8-4246-aed7-8d75cb54b8e9/KR-ko-20240108-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg>.bg-style{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%)
}

.wrapper{}

/* header */
.wrapper>header{}
.wrapper>header>.top-header{}
.wrapper>header>nav{}
.wrapper>header>nav>.nav--left{}
.wrapper>header>nav>.nav--left>img{
    width: 200px;
    height: 80px;
}

/* main */
.wrapper>main{}
.wrapper>main>section{}

/* section.login */
.wrapper>main>section.login{
    width: 450px;
    height: 660px;
    margin: 0 auto;
    padding: 60px 68px 40px;
    border-radius: 5px;
    color: white;
    position: relative;
}
.wrapper>main>section.login>.title{
    margin-bottom: 28px;
    z-index: 2;
}

.wrapper>main>section.login>.login-body{}
.wrapper>main>section.login>.login-body>form{
    z-index: 2;
}
.wrapper>main>section.login>.login-body>form>div{
    margin-bottom: 20px;
}
.wrapper>main>section.login>.login-body>form>div>*{
    height: 50px;
}
.wrapper>main>section.login>.login-body>form input{
    background-color: rgb(112, 104, 104);
    color: white;
}
.wrapper>main>section.login>.login-body>form input::placeholder{
    transition: 0.1s;
}
.wrapper>main>section.login>.login-body>form input:focus::placeholder{
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 0.6rem;
}
.wrapper>main>section.login>.login-body>form button>a{
    color: white;
    text-decoration: none;
}

.wrapper>main>section.login>.login-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 100px;

    z-index: 2;
}
.wrapper>main>section.login>.login-option>div:nth-child(1){}
.wrapper>main>section.login>.login-option>div:nth-child(2){}
.wrapper>main>section.login>.login-option>div:nth-child(2)>a{
    text-decoration: none;
    color: white;
}
.wrapper>main>section.login>.login-option>div:nth-child(2)>a:hover{
    text-decoration: underline;
}

.wrapper>main>section.login>.login-footer{
    font-size: 0.8rem;
    z-index: 2;
}
.wrapper>main>section.login>.login-footer>p{
    font-size: 1rem;
}
.wrapper>main>section.login>.login-footer>a{
    text-decoration: none;
}
.wrapper>main>section.login>.login-footer>a:hover{
    text-decoration: underline;
}

.wrapper>main>section.login>.login-bg{
    width: 450px;
    height: 660px;
    border-radius: 5px;
    
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}

/* footer */
.wrapper>footer{}
