/* div{ 
    height:100px;
    background-color: green;
} */

.wrapper>header>.header-right{
   
    background-color: white;
}
.wrapper>header>.header-right>nav{
    /*  */
}

.wrapper>header>.header-right>nav>.menu>li
{

}

.wrapper>header>.header-right>nav>.menu>li>.submenu{
    /* z-index:3; */
}

.wrapper>main>section{
    display:flex;
    flex-direction: column;
}