.btn{
    background-color: red;
    color: white;
    border-radius: 3px;
    outline: none;
}
.btn:hover{
    background-color: rgb(228, 0, 0);
    color: white;
}
.object-fit{
    width: 1280px;
    margin: 0 auto;
}

.wrapper{}

/* header */
.wrapper>header{
    height: 100px;
}
.wrapper>header>.top-header{}

/*  */
.wrapper>header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper>header>nav>.nav--left{}
.wrapper>header>nav>.nav--left>img{
    width: 250px;
    height: 100px;
}
.wrapper>header>nav>.nav--right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>header>nav>.nav--right select{     /*자손임. nav--right>div>select*/
    width: 150px;
    background-color: transparent;
    text-align: center;
    color: white;
}
.wrapper>header>nav>.nav--right a{}
.wrapper>header>nav>.nav--right>div:nth-child(1){
    margin-right: 35px;
}

/* main */
.wrapper>header>main{}
.wrapper>header>main>section{}

/* footer */
.wrapper>header>footer{}