<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!--  css  -->
    <link rel="stylesheet" href="/main.css">    <!-- 경로를 /부터 시작하면 static 폴더 파일들 사용가능 -->
</head>
<body>
    <!-- 별도의 파일에 저장해두고 한줄로 import해서 사용가능(thymeleaf)  -->
    <!--    <div class="nav">-->
    <!--        <a class="logo" href="">SpringMall</a>-->
    <!--        <a href="/list">List</a>-->
    <!--        <a href="/write">Write</a>-->
    <!--    </div>-->
    <div th:replace="~{nav.html::navbar}"></div>
    
    <!--  서버/Database의 데이터를 HTML에 집어넣을 수 있음 <- 템플릿엔진 사용(Thymeleaf)
            HTML에 서버데이터 넣으려면 templates 폴더에 .html 파일 넣어야함  -->
<!--     <div>
        <img>
        <h4 th:text="${name}">바지</h4>     <!-- 3. th:text="${변수명}" 
        <p>7억</p>
    </div> -->
    <!--  th:each="작명:${변수명}" 쓰면 html 쉽게 복붙가능(변수 안 자료갯수만큼 반복)
            작명부분에 새로운 변수를 넣어 변수명 안에 있던 자료 하나씩 꺼내줄 수 있음  -->
    <div class="card" th:each="i :${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${i.title}">바지</h4>
            <a th:href="@{'/detail/' + ${i.id}}">상세보기</a>
            <p th:text="${i.price}">7억</p>
            <a th:href="@{'/change/' + ${i.id}}">✏️</a>
            <a th:href="@{'/del/' + ${i.id}}">✖️</a>
        </div>
    </div>

    <!--
        수정기능 만들기
        1. 수정버튼 누르면 글수정 페이지로
        2. 수정페이지엔 기존내용이 채워진 폼 존재
        3. 전송누르면 변경된 내용으로 DB 수정
     -->
    
</body>
</html>
