
@charset "UTF-8";

.main-block{
	display:flex;
	justify-content: space-between;
	align-items : start;
}
.main-block aside.left{
	width : 250px;
	border : 1px solid;	
	margin-right : 25px;
	align-self: stretch;
}
.main-block .right{
	width : 100%;
}
